.card {
  margin:10px 10px 10px 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}
/* .col-md-3{
  display: contents;
} */
.animate-fading1 {
  animation: fading1 1.5s infinite;
  display: inline-flex;
}
.animate-fading2 {
  animation: fading2 1.5s infinite;
  display: inline-flex;
}
@keyframes fading1 {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
@keyframes fading2 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.grey_box {
  padding: 10rem 9rem;
  background-color: rgb(255, 211, 211);
}
.grey_button {
  padding: 1.1rem 3.3rem;
  background-color: rgb(255, 211, 211);
  border-radius: 3px;
}


.early {
  animation: hideAnimation 0s ease-in 3s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    height: 0;
    width: 0;
  }
  90%  {opacity: 0;}
  100% {opacity: 0;}
}
  
.late {
  animation: appear 2.2s forwards;
}
@keyframes appear {
  0%   {opacity: 0;}
  90%  {opacity: 0;}
  100% {opacity: 1;}
}
  